{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "semi": [
            2,
            "never"
        ],
        "no-trailing-spaces": 2,
        "indent": [
            "error",
            2
        ],
        "eol-last": 2,
        "quotes": [
            2,
            "single"
        ],
        "@typescript-eslint/no-explicit-any": "off",
        "no-var": "warn",
        "no-unused-vars": "warn"
    }
}
